<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timișoara - Capitală Culturală Europeană 2023</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
    Timișoara - Capitală Culturală Europeană 2023 - Stiri
</header>
<nav>
    <ul>
        <li><a href="adminlogged">Acasa</a></li>
        <li><a href="adminstiri">Stiri</a></li>
        <li><a href="adminevenimente">Evenimente</a></li>
    </ul>
</nav>
<h2>Stiri:</h2>
<table border="1">
    <thead>
    <tr>
        <th>Nume</th>
        <th>Data</th>
        <th>Descriere</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="eveniment : ${evenimente}">
        <td th:text="${eveniment.nume}"></td>
        <td th:text="${eveniment.data}"></td>
        <td th:text="${eveniment.descriere}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>