<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Timișoara - Capitală Culturală Europeană 2023</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
    Timișoara - Capitală Culturală Europeană 2023
</header>

<nav>
    <ul>
        <li><a href="http://localhost:8080">Acasa</a></li>
        <li><a href="stiri">Stiri</a></li>
        <li><a href="evenimente">Evenimente</a></li>
        <li><a href="despre">Despre Timisoara</a></li>
        <li class="dropdown">
            <button class="dropbtn">More</button>
            <div class="dropdown-content">
                <a href="gdpr">GDPR</a>
                <a href="contact">Contact</a>
            </div>
        </li>
    </ul>
</nav>

<h1>Bine ați venit în orașul care strălucește cultural!</h1>
<p>Descoperiți evenimente, artă și istorie într-un cadru inedit.</p>

<section id="evenimente">
    <h2>Evenimente Viitoare</h2>
    <ul>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
    </ul>
    <br>
        <a href="evenimente" class="btn-vezi-mai-multe">Vezi toate evenimentele</a>
</section>

<section id="despre">
    <div class="chenar">
        <h2>Despre TIMISOARA</h2>
        <p>Aflați mai multe detalii despre frumoasa noastră Timișoara, capitala culturală europeană.</p>
        <a href="despre" class="btn-vezi-mai-multe">Vezi mai multe</a>
    </div>
</section>

<section id="news">
    <h2>Ultimele Știri</h2>
    <ul>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
        <li><strong>12 ianuarie 2024:</strong> Timișoara, Capitală Culturală Europeană!</li>
    </ul>
    <br>
        <a href="stiri" class="btn-vezi-mai-multe">Vezi toate stirile</a>
</section>
</body>
<footer>Timisoara Capitala Cultural Europeana 2023</footer>

</html>
