<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Timișoara - Capitală Culturală Europeană 2023</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>
<body>
<header>
  Timișoara - Capitală Culturală Europeană 2023 - GDPR
</header>
<nav>
  <ul>
    <li><a href="http://localhost:8080">Acasa</a></li>
    <li><a href="stiri">Stiri</a></li>
    <li><a href="evenimente">Evenimente</a></li>
    <li><a href="despre">Despre Timisoara</a></li>
    <li class="dropdown">
      <button class="dropbtn">More</button>
      <div class="dropdown-content">
        <a href="gdpr">Politica de confidentialitate</a>
        <a href="contact">Contact</a>
        <a href="politicaconfidentialitate">Politica de confidetialitate</a>
      </div>
    </li>
  </ul>
</nav>

<section id="gdpr">
  <div class="chenar">
    <h2>Politica de Confidențialitate</h2>
    <p>Prin utilizarea acestui site, sunteți de acord cu politica noastră de confidențialitate. Această pagină explică cum colectăm, gestionăm, utilizăm și protejăm informațiile dvs. personale.</p>
    <h2>Informații colectate</h2>
    <p>Colectăm informații personale pe acest site atunci când ne furnizați voluntar, cum ar fi prin completarea unui formular de contact sau prin abonarea la știri.</p>
    <h2>Folosirea informațiilor</h2>
    <p>Informațiile personale colectate pot fi folosite pentru a vă contacta în legătură cu serviciile noastre, pentru a vă furniza actualizări și informații relevante, sau în scopuri de marketing.</p>
    <h2>Protecția informațiilor</h2>
    <p>Ne angajăm să protejăm informațiile dvs. personale și să le utilizăm doar în scopurile specificate. Nu vom partaja informațiile dvs. cu terțe părți fără consimțământul dumneavoastră, cu excepția cazurilor în care este necesar pentru a vă furniza serviciile solicitate.</p>
    <h2>Actualizări ale politicii</h2>
    <p>Politica noastră de confidențialitate poate fi actualizată periodic. Vă recomandăm să verificați această pagină pentru a fi la curent cu orice modificări.</p>
    <p>Ultima actualizare: 13.01.2024</p>
  </div>
</section>

</body>
</html>
